body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#calculator-body{
    background-color: #232323;
    border-radius: 15px;
    height: 75vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#display{
    background-color: #D3D3D3;
    text-align: center;
    padding-top: 20px;
    border-radius: 15px;
    width: 70%;
    height: 10%;
}

#number-keypad{
    background-color: lightcyan;
    width: 70%; 
    height: 50%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.row{
    background-color: red;
    display: flex;
    width: 100%;
    flex: 1 1 0;
}
button{
    flex: 1 0 auto;
    border-radius: 50%;
}

#zero{
    flex: 3 0 auto;
}

